html {
    background-color: #f7f9fb;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


h1 {
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
    
}


h2 {
    margin-right: auto;
    margin-left: auto;
}
#navbar {
    margin-right: auto;
    margin-left: auto;
    background-color: #edeae5;
    text-align: center;
    
}

#hero{
    padding-bottom: 10px;
    margin-bottom: 5px;

}
button {
    border-radius: 12px;
    background-color: #8fc1e3;
}

button:hover {
    background-color: #edeae5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
}

ul {
    margin-right: auto;
    margin-left: auto;
}

#faq {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 1000px;
}

a {
    color: #5085A5;
}

a:hover {
    background-color: #8FC1E3;
    opacity: 0.5;
    color: #f7f9fb;
    font-weight: bolder;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

footer{
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

#mindylogo{
    width: 50px;
    height: 50px;
}

